fieldset {
    border: none;
}

input {
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
}

div ::-webkit-scrollbar {
    height: 24px;
}

div ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    background-color: rgba(256, 256, 256, 1);
    border-radius: 10px;
}

div ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

#cart-section {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../images/cartImages/cartImg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#cart-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#cart-container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

#right-image-container {
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column: 14;
    background: black;
    border-left: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-image-container {
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column: 1;
    background: black;
    border-right: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-image-container,
#right-image-container h1 {
    writing-mode: vertical-rl;
    text-align: center;
    color: white;
}

#cart-header-container {
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row: 1;
    z-index: 4;
    background: rgb(36, 34, 28);
    background: linear-gradient(90deg, rgba(36, 34, 28, 1) 15%, rgba(74, 77, 56, 1) 75%);
    display: flex;
}

#cart-header {
    flex: 1 1 auto;
    justify-self: center;
    align-self: center;
    opacity: 0.9;
    color: white;
    text-align: center;
}

#price-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background: black;
    display: flex;
}

#price-header {
    flex: 1 1 auto;
    justify-self: center;
    align-self: center;
    color: white;
    text-align: center;
}

#how-to-container {
    grid-column: 4 / 9;
    grid-row: 4 / 5;
    background: black;
    border-left: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#how-to-header {
    flex: 1 1 auto;
    color: white;
    text-align: center;
    padding: 5%;
}

#info-form {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 12;
    grid-column-end: 14;
    background: black;
    display: flex;
}

#info-form h3 {
    flex: 1 1 auto;
    justify-self: center;
    align-self: center;
    color: white;
    text-align: center;
    padding: 5%;
}

#environment-button {
    background: black;
    color: white;
    border: none;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    text-shadow: 2.5px 2.5px 12px black;
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;
    transition: background 0.75s;
    padding: 3%;
}

.pop-up-container {
    position: absolute;
    top: 32.5vh;
    left: 42vw;
    width: 16vw;
    height: 35vh;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 12px black;
    z-index: 5;
}

.pop-up-container .pop-up-text {
    text-align: center;
    margin-top: 37.5%;
    height: 25%;
}

#confirm-envir-container {
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../images/cartImages/ecoBackground.jpg");
    background-size: 135% 100%;
}

#confirm-envir-text {
    color: white;
}

#confirm-purchase-container {
    background: white;
}

#confirm-purchase-text {
    color: black;
    padding: 2%;
}

#purchase-container {
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row: 9;
    background: rgb(74, 77, 56);
}

#cart-form {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 4;
    background: black;
    border-bottom: 0.5px solid white;
    border-right: 0.5px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#cart-form fieldset {
    width: 20%;
    height: 95%;
}

#cart-form label {
    display: block;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 4.5%;
    text-shadow: 1px 1px 4px black;
    color: white;
}

#cart-form input {
    display: block;
    border: 2px solid white;
    height: 20%;
    box-shadow: 1px 1px 4px black;
    padding: 1%;
    padding-left: 2.5%;
}

#cart-items-container {
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 9;
    background: rgb(74, 77, 56);
    opacity: 0.9;
    overflow: hidden;
}

#cart-items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.item-container {
    position: relative;
    min-height: 100%;
    min-width: 25%;
    max-width: 25%;
    border-right: 0.5px solid gray;
    background: rgb(74, 77, 56);
    cursor: pointer;
}

.item-container .name-header {
    position: absolute;
    height: 10%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.item-container .count-header-container {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 3.5vmin;
    height: 3.5vmin;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.item-container .count-header-container .count-header {
    text-align: center;
    color: white;
}

.item-container .img-container {
    position: absolute;
    width: 80%;
    top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
    background-size: 100% 100%;
    background-position: center;
}

.item-container .price-container {
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-container .price-container h4 {
    text-align: center;
}

.item-container .remove-btn {
    position: absolute;
    top: 88%;
    height: 12%;
    width: 100%;
    border: none;
    color: white;
    background: rgba(128, 0, 0, 0.75);
}

#cart-info-container {
    position: absolute;
    top: 15%;
    left: 20%;
    bottom: 15%;
    right: 20%;
    height: 70%;
    width: 60%;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}

#cart-info-header-container {
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-info-header {
    text-align: center;
    text-decoration: underline;
    color: white;
}

#cart-img-container {
    grid-row: 3 / 10;
    background: rgb(36, 34, 28);
    background: linear-gradient(90deg, rgba(36, 34, 28, 1) 15%, rgba(74, 77, 56, 1) 75%);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}

.cart-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-info-container p {
    padding: 0%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    color: white;
}

.cart-info-container p span {
    background: rgba(200, 200, 200, .25);
    transition: 0.75s background;
}

.cart-info-container p span:hover {
    background: rgba(20, 20, 20, 1);
}

#cart-info-text-one {
    grid-row: 2 / 5;
}

#cart-info-text-two {
    grid-row: 5 / 8;
}

#cart-info-text-three {
    grid-row: 8 / 11;
}

#cart-show-header-container {
    grid-row: 10 / 12;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-show-header {
    cursor: pointer;
    text-shadow: 1px 1px 12px white;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: text-decoration 0.75s;
}

#cart-show-header:hover {
    text-decoration: underline;
}

#hide-cart-btn {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    margin: 10% 0% 10% 6.5%;
    border: none;
    border-radius: 30px;
    background: rgba(50, 50, 50, 0.9);
    color: white;
    transition: background 0.75s, 0.75s border;
    z-index: 5;
}

#hide-cart-btn:hover {
    background: black;
}

#refresh-cart-btn {
    grid-column-start: 12;
    grid-column-end: 14;
    grid-row: 1;
    margin: 10% 6.5% 10% 0;
    border: none;
    border-radius: 30px;
    background: rgba(50, 50, 50, 0.9);
    color: white;
    transition: background 0.75s, 0.75s border;
    z-index: 5;
}

#refresh-cart-btn:hover {
    background: black;
}

#purchase-btn {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row: 9;
    margin: 10% 0 10% 0;
    background: rgba(50, 50, 50, 0.9);
    color: white;
    border-radius: 30px;
    border: none;
    transition: background 0.75s, 0.75s border;
    z-index: 3;
}

#purchase-btn:hover {
    background: black;
}