* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    max-width: 100%;
    background: white;
    font-weight: 300;
    font-family: 'JetBrains Mono', monospace, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

section {
    max-width: 100%;
}

h1,
h2,
h3,
a,
th,
button,
input[type='submit'] {
    font-family: 'Poppins', monospace, Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    font-size: 1rem;
    background: white;
    color: black;
    transition: background 0.5s;
}

button:hover {
    background: lightgray;
}

button:focus {
    outline: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

table {
    font-size: 1rem;
}


/* 
::-webkit-scrollbar {
    width: 18px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.75);
} */

#navbar {
    height: 7.5vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;
    background: transparent;
    opacity: 0.9;
}

#navbar #menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbar .menu-item {
    flex: 1 1 auto;
    height: 100%;
    list-style-type: none;
    display: flex;
}

#navbar .menu-item h2 {
    flex: 1 1 auto;
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: text-shadow 0.5s;
}

#navbar .menu-item h2:hover {
    text-shadow: 1px 1px 4px;
}

#main-container {
    overflow: scroll;
    height: 100vh;
    max-width: 100%;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.scroll-child {
    scroll-snap-align: start;
    max-width: 100%;
}

footer {
    background: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 6vh;
    min-height: 6vh;
    width: 100vw;
    max-width: 100%;
    z-index: 3;
}

#bottom-footer {
    height: 100%;
    width: 100%;
    background: rgba(10, 10, 10, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#bottom-footer h3 {
    flex: 1 1 calc(100% / 3);
    color: white;
    text-align: center;
    opacity: 0.9;
}

#home-content-container {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.arrow-right {
    position: absolute;
    top: 45%;
    right: 0.5%;
    min-height: 10%;
    min-width: 5%;
    background-image: url("../images/homeImages/rightArrow.png");
    background-size: 100% 100%;
    z-index: 2;
    opacity: 0.7;
    cursor: pointer;
}

.arrow-right:hover {
    opacity: 1;
}

.arrow-left {
    position: absolute;
    top: 45%;
    left: 0.5%;
    min-height: 10%;
    min-width: 5%;
    background-image: url("../images/homeImages/leftArrow.png");
    background-size: 100% 100%;
    z-index: 2;
    opacity: 0.7;
    cursor: pointer;
}

.arrow-left:hover {
    opacity: 1;
}

#home-image-container {
    width: 400%;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

#main-header {
    position: absolute;
    color: white;
    opacity: 0.75;
    z-index: 1000;
    width: 100%;
    top: 7.5%;
    text-align: center;
}

.header-img-container {
    flex: 1 1 auto;
    width: 25%;
    position: relative;
}

.desc-container {
    opacity: 0.75;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
}

.desc-container h2 {
    text-align: center;
    padding-top: 4%;
    width: 100%;
    height: auto;
    color: white;
}

.desc-container h3 {
    background: black;
    opacity: 0.75;
    color: white;
    min-height: 25%;
    width: 50%;
    height: auto;
    margin-top: 1.5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#img1 {
    background: black;
    background-image: url('../images/homeImages/pixel.jpg');
    background-size: 80% 70%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#img2 {
    background: black;
    background-image: url('../images/homeImages/iphone.jpg');
    background-size: 55% 80%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#img3 {
    background-image: url('../images/homeImages/samsung.jpg');
    background-size: 100% 100%;
}

#img4 {
    background: black;
    background-image: url('../images/homeImages/pixel.jpg');
    background-size: 80% 70%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#show-btn-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('../images/homeImages/aboutImg.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#show-btn-container button {
    flex: 1 1 auto;
    cursor: pointer;
    min-height: 7.5%;
    max-height: 7.5%;
    width: 20%;
    border: 1px solid white;
    background: rgba(200, 200, 200, 0.75);
    color: white;
    border-radius: 30px;
    transition: background 0.75s;
}

#show-btn-container button:hover {
    background: lightgray;
}

.text-container {
    height: 22.5vh;
    width: 80vw;
    max-width: 80%;
    margin-top: 3.5vh;
    margin-bottom: 1.5vh;
    display: none;
}

.text-container h2,
.text-container p {
    background: rgba(200, 200, 200, 0.75);
    color: white;
}

.text-container h2 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    border-radius: 10px 10px;
    text-align: center;
}

.text-container p {
    width: 90%;
    margin-top: 1.75%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    border-radius: 10px 10px;
}

#text-img-one {
    margin-top: 0;
    background-image: url('../images/homeImages/jQuery.jpg');
}

#text-img-two {
    background-image: url('../images/homeImages/html5.jpg');
}

#text-img-three {
    background-image: url('../images/homeImages/css3.jpeg');
    margin-bottom: 0;
}

.text-img-container {
    background-size: 100% 100%;
    height: 75vh;
    width: 100vw;
    max-width: 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: none;
}

#cart-section {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}