.iphone12promax-one {
    background-image: url('../images/iphoneImages/iphone12promaxver1.png');
    background-size: 120% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone12promax-two {
    background-image: url('../images/iphoneImages/iphone12promaxver2.png');
    background-size: 120% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone12promax-three {
    background-image: url("../images/iphoneImages/iphone12promaxver3.png");
    background-size: 120% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone11promax-one {
    background-image: url('../images/iphoneImages/iphone11promaxver1.webp');
    background-size: 125% 83%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone11promax-two {
    background-image: url('../images/iphoneImages/iphone11promaxver2.webp');
    background-size: 125% 83%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone11promax-three {
    background-image: url("../images/iphoneImages/iphone11promaxver3.webp");
    background-size: 125% 83%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone12-one {
    background-image: url('../images/iphoneImages/iphone12ver1.png');
    background-size: 117.5% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone12-two {
    background-image: url('../images/iphoneImages/iphone12ver2.png');
    background-size: 117.5% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone12-three {
    background-image: url('../images/iphoneImages/iphone12ver3.png');
    background-size: 117.5% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone11-one {
    background-image: url('../images/iphoneImages/iphone11ver1.png');
    background-size: 100% 85%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone11-two {
    background-image: url('../images/iphoneImages/iphone11ver2.png');
    background-size: 100% 85%;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone11-three {
    background-image: url('../images/iphoneImages/iphone11ver3.png');
    background-size: 100% 85%;
    background-position: center;
    background-repeat: no-repeat;
}

#iphone12promax-img-one {
    background: white;
}

#iphone12promax-img-two {
    background: gray;
}

#iphone12promax-img-three {
    background: blue;
}

#iphone11promax-img-one {
    background: gray;
}

#iphone11promax-img-two {
    background: white;
}

#iphone11promax-img-three {
    background: beige;
}

#iphone12-img-one {
    background: blue;
}

#iphone12-img-two {
    background: red;
}

#iphone12-img-three {
    background: lightgreen;
}

#iphone11-img-one {
    background: gold;
}

#iphone11-img-two {
    background: lightblue;
}

#iphone11-img-three {
    border: 2.5px solid white;
    background: black;
}