    #pixel-header-img {
        background-image: url('../images/pixelImages/header.png');
    }
    
    #pixel-header-img-two {
        background-image: url('../images/pixelImages/header.png');
    }
    
    .pixel5-one {
        background-image: url('../images/pixelImages/pixel5ver1.png');
        background-size: 120% 115%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .pixel5-two {
        background-image: url('../images/pixelImages/pixel5ver2.png');
        background-size: 120% 115%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .pixel4a-one {
        background-image: url('../images/pixelImages/pixel4aver1.png');
        background-size: 97.5% 85%;
        background-position-y: center;
        background-position-x: right;
        background-repeat: no-repeat;
    }
    
    .pixel4a-two {
        background-image: url('../images/pixelImages/pixel4aver2.webp');
        background-size: 115% 95%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .pixel4xl-one {
        background-image: url('../images/pixelImages/pixel4ver1.png');
        background-size: 115% 97.5%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .pixel4xl-two {
        background-image: url('../images/pixelImages/pixel4ver2.png');
        background-size: 80% 83.5%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .pixel4xl-three {
        background-image: url("../images/pixelImages/pixel4ver3.png");
        background-size: 80% 85%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .pixel4-one {
        background-image: url('../images/pixelImages/pixel4ver1.png');
        background-size: 115% 97.5%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .pixel4-two {
        background-image: url('../images/pixelImages/pixel4ver2.png');
        background-size: 80% 83.5%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .pixel4-three {
        background-image: url("../images/pixelImages/pixel4ver3.png");
        background-size: 80% 85%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #pixel5-img-one {
        border: 2.5px solid white;
        background: black;
    }
    
    #pixel5-img-two {
        background: gray;
    }
    
    #pixel4a-img-one {
        border: 2.5px solid white;
        background: black;
    }
    
    #pixel4a-img-two {
        background: cyan;
    }
    
    #pixel4xl-img-one {
        background: white;
    }
    
    #pixel4xl-img-two {
        background: red;
    }
    
    #pixel4xl-img-three {
        border: 2.5px solid white;
        background: black;
    }
    
    #pixel4-img-one {
        border: 0.1px solid black;
        background: white;
    }
    
    #pixel4-img-two {
        background: red;
    }
    
    #pixel4-img-three {
        border: 2.5px solid white;
        background: black;
    }